@use 'variables';

.centropreguntas {
  height: 800px;
  display: grid;
}

.fondopreguntas {
  background-color: variables.$fondo-preguntas;
}

.letrapreguntas {
  font-family: variables.$font-contenido;
  font-style: oblique;
  text-align: center;
}

.listado {
  display: grid;
  grid-template-columns: auto;
  align-content: center;
  text-align: center;
  height: auto;
}